[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
appnope = "*"
argparse = "*"
certifi = "*"
decorator = "*"
future = "*"
gnureadline = "*"
ipykernel = "*"
ipython = "*"
ipywidgets = "*"
jsonschema = "*"
jupyter = "*"
matplotlib = "*"
mistune = "*"
nbconvert = "*"
nbformat = "*"
notebook = "*"
numpy = "*"
path-py = "*"
pexpect = "*"
pickleshare = "*"
ptyprocess = "*"
pyparsing = "*"
python-dateutil = "*"
pytz = "*"
pyzmq = "*"
qtconsole = "*"
scipy = "*"
simplegeneric = "*"
singledispatch = "*"
sites = "*"
six = "*"
terminado = "*"
tornado = "*"
traitlets = "*"
Cython = "*"
Jinja2 = "*"
MarkupSafe = "*"
Pillow = "*"
Pygments = "*"
backports_abc = "*"
"backports.ssl_match_hostname" = "*"
Cycler = "*"
ipython_genutils = "*"
jupyter_client = "*"
jupyter_console = "*"
jupyter_core = "*"

[requires]
python_version = "3.7"
